/*
Ari Larson
5/6/2016

Some elements taken from:
Darko Bunic
http://www.redips.net/
May, 2015.

*/

div#drawing-table table {
	border: 2px solid red;
	border-collapse: collapse;
}

div#drawing-table table td {
	width: 4px;
	height: 4px;
	padding: 3px;
	border: 1px solid #fafafa;
    align-content: center;
}

table#palette {
	margin-top: 5px;
}

table#palette td {
	width: 20px;
	height: 20px;
	border: 1px;
	cursor: pointer;
	padding: 2px;
}